# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Editable install build artifact
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Outputs
models/
outputs/

# Data files
data/

# OS files
.DS_Store
Thumbs.db